{
    "presets": [
    ["env", {
        "targets": {
            "node": "current"
        }
        }]
    ],
    "plugins": [
        "transform-object-rest-spread",
        [
          "module-resolver",
          {
            "root": [
              "./"
            ],
            "alias": {
              "@capsid/graphql": "./src/graphql",
              "@capsid/mongo": "./src/mongo",
              "@capsid/es": "./src/es"
            }
          }
        ]
      ]
    
}