{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": [
    "@babel/proposal-optional-chaining",
    "@babel/proposal-object-rest-spread",
    [
      "babel-plugin-module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@capsid/graphql": "./src/graphql",
          "@capsid/mongo": "./src/mongo",
          "@capsid/es": "./src/es"
        }
      }
    ]
  ]
}
